{% extends 'train/base.html'%}
{% load static %}


{% block content %}

<main id="main" class="main">
  
  <!-- <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div> -->
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg">
        <div class="row">

          <!-- Reports -->
          <div class="col-12">
            <div class="card">

              <div class="card-body">
                <h5 style="font-size: 30px;" class="card-title">BOOK TICKET</span></h5>
                <form class="row g-3 needs-validation" novalidate method="POST">
                  {% csrf_token %}
                  <div class="col-12">
                    <label style="margin-top: 10px;" for="yourName" class="form-label">Source</label>
                    <!-- <input type="text" name="name" class="form-control" id="yourName" required> -->
                    <div class="input-group has-validation">
                      {{form.ticket_source}}
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Destination</label>
                    <div class="input-group has-validation">
                      <!-- <input type="text" name="username" class="form-control" id="yourUsername" required> -->
                      {{form.ticket_destination}}
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label" for="tickettype">Ticket Type: </label>
                    <div class="form-check form-check-inline">
                      {% for choice in form.ticket_type %}
                        <div class="form-check form-check-inline">
                          
                              {{choice.tag}}
                          
                          <label class="form-check-label" for="tickettype2">{{choice.choice_label}}</label>
                        </div> 
                      {% endfor %}
                     
                    </div>
                  </div>

                  <div class="col-12">
                    <label class="form-label" for="classtype">Class Type: </label>
                    <div class="form-check form-check-inline">
                      {% for choice in form.ticket_class %}
                        <div class="form-check form-check-inline">
                          
                              {{choice.tag}}
                          
                          <label class="form-check-label" for="tickettype2">{{choice.choice_label}}</label>
                        </div> 
                      {% endfor %}
                    </div>
          
                  </div>

                  <div class="col-12">
                    <div class="col-12">
                      <label class="form-label" for="traintype">Train Type: </label>
                      <div class="form-check form-check-inline">
                        {% for choice in form.ticket_train %}
                        <div class="form-check form-check-inline">
                          
                              {{choice.tag}}
                          
                          <label class="form-check-label" for="tickettype2">{{choice.choice_label}}</label>
                        </div> 
                      {% endfor %}
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="col-12">
                      <label class="form-label" for="ticketype">Payment Type: </label>
                      <div class="form-check form-check-inline">
                        {% for choice in form.ticket_payment %}
                        <div class="form-check form-check-inline">
                          
                              {{choice.tag}}
                          
                          <label class="form-check-label" for="tickettype2">{{choice.choice_label}}</label>
                        </div> 
                      {% endfor %}
                      </div>
                    </div>
                  </div>

                  <center>
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">Book Ticket</button>
                    </div>
                  </center>


                </form>
              </div>

            </div>
          </div><!-- End Reports -->

        </div>
      </div><!-- End Left side columns -->



    </div>
  </section>

</main><!-- End #main -->
{% endblock %}