{% extends 'train/base.html'%} {%block content%}


<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <center>
                  <h5 class="card-title">Book Ticket</h5>
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'bookticket' %}"><i class="bi bi-ticket-detailed" style="font-size: 55px;"></i></a>
                  </div>
                </center>

                <!-- <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-ticket-detailed"></i>
                    </div>
                  </div> -->
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <center>
                  <h5 class="card-title">Quick Routes</h5>
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'blank' %}"><i class="bi bi-skip-forward" style="font-size: 55px;"></i></a>
                  </div>
                </center>

                <!-- <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>$3,264</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div> -->
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card sales-card">

              <div class="card-body">
                <center>
                  <h5 class="card-title">Fare Calculator</span></h5>
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'fare' %}"><i class="bi bi-wallet" style="font-size: 55px;"></i></a>
                  </div>
                </center>


                <!-- <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-credit-card-2-back"></i>
                    </div>
                    <div class="ps-3">
                      <h6>1244</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div> -->

              </div>
            </div>

          </div><!-- End Customers Card -->

          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card sales-card">

              <div class="card-body">
                <center>
                  <h5 class="card-title">R-Wallet</span></h5>
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'blank' %}"><i class="bi bi-wallet" style="font-size: 55px;"></i></a>
                  </div>
                </center>


                <!-- <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-credit-card-2-back"></i>
                    </div>
                    <div class="ps-3">
                      <h6>1244</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div> -->

              </div>
            </div>

          </div><!-- End Customers Card -->

          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card sales-card">

              <div class="card-body">
                <center>
                  <h5 class="card-title">Schedule</span></h5>
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'blank' %}"><i class="bi bi-geo" style="font-size: 55px;"></i></a>
                  </div>
                </center>


                <!-- <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-credit-card-2-back"></i>
                    </div>
                    <div class="ps-3">
                      <h6>1244</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div> -->

              </div>
            </div>

          </div><!-- End Customers Card -->

          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card sales-card">

              <div class="card-body">
                <center>
                  <h5 class="card-title">My Tickets</span></h5>
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <a href="{% url 'blank' %}"><i class="bi bi-ticket-perforated" style="font-size: 55px;"></i></a>
                  </div>
                </center>


                <!-- <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-credit-card-2-back"></i>
                    </div>
                    <div class="ps-3">
                      <h6>1244</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div> -->

              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Reports -->
          <div class="col-12">
            <div class="card">


              <!-- Here -->
              {% for ticket in tickets %}
              {% if ticket.ticket_booked_at.Date == date.today%}
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i style="color: red;" class="bi bi-circle-fill">
                    Normal</i></a>
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li><a class="dropdown-item" href="#">View All Active Tickets</a></li>
                  <li><a class="dropdown-item" href="#">View All Active Season Passes</a></li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Active Tickets</span></h5>
                <div style="width: 100%; margin-bottom: 5px;">
                  <div style="width: 50%; height: 30px; float: left;">
                    Source: {{ticket.ticket_source}}
                  </div>
                  <div style="margin-left: 50%; height: 30px;">
                    Destination: {{ticket.ticket_destination}}
                  </div>
                </div>
                <div style="width: 100%;">
                  <div style="width: 50%; height: 30px; float: left;">
                    <i class="bi bi-clock"> Time: {{ ticket.ticket_booked_at }}</i>
                  </div>
                  <div style="margin-left: 50%; height: 30px;">
                    <i class="bi bi-person"> QTY: 1</i>
                  </div>
                </div>
                <!-- <center>
                <div>
                  <button class="btn btn-primary">View Ticket</button>
                </div>
              </center> -->
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div><!-- End Reports -->

          <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Booking History</span></h5>

                <div class="col-xxl-4 col-md-6">
                  {% for ticket in tickets %}
                  <div class="card info-card sales-card">

                    <div class="card-body">
                      <div style="width: 100%; margin-top: 5px;">
                        <div style="width: 50%; height: 10px; float: left;">
                          Source: {{ticket.ticket_source}}
                        </div>
                        <div style="height: 10px;">
                          Destination: {{ticket.ticket_destination}}
                        </div>
                      </div>
                      <div style="width: 100%; margin-top: 20px;">
                        <div style="width: 50%; height: 10px; float: left;">
                          Date:{{ticket.ticket_booked_at}}
                        </div>
                        <div style="height: 10px;">
                          Class:{{ticket.ticket_class}}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>
              </div>

            </div>

          </div>
        </div><!-- End Recent Sales -->


      </div>
    </div><!-- End Left side columns -->



    </div>
  </section>
</main>

{%endblock%}