{% extends 'train/base.html'%}
{% load static %}
{% block heading %}
<style>
  body {
    background-image: url("{% static 'assets/img/Train3.png' %}");
    background-size: 100% 100%;
  }
</style>
{% endblock %}

{%block content%}
<main id="" class="main ml-0">


  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="#" class="logo d-flex align-items-center w-auto">
                <img src="{% static 'assets/img/logo.png' %}" alt="">
                <span class="d-none d-lg-block">UTS</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your mobile number & password to login</p>
                </div>

                <form class="row g-3 needs-validation" novalidate method="post">
                  {% csrf_token %}

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Mobile Number</label>
                    <div class="input-group has-validation">
                      <!-- <input type="text" name="username" class="form-control" id="yourUsername" required> -->
                      {{form.username}}
                      <div class="invalid-feedback">Please enter your username.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <!-- <input type="password" name="password" class="form-control" id="yourPassword" required> -->
                    {{form.password}}
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit"
                      style="background-color: #2c3d68; border: none">Login</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Don't have account? <a href="{% url 'register' %}">Create an account</a></p>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main>
{% endblock %}